.header {

    background-color: rgb(120, 161, 238);
    text-align: center;
    width: 100%

    }


.emoji {
    font-family: 'segoe-ui-emoji-normal', sans-serif;
}

.container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* box-shadow: 0 40px 60px -20px rgba(102, 101, 105, 0.15); */
    /* border: 1px solid red; */
}

/* to position task card's heading into a row */
.widget-content .widget-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    /* max-width: 200px; */
    /* border: 1px solid red; */
}

.widget-content-right {
    /* border: 1px solid green; */
    flex: 1;
    justify-content: space-between;
}

.widget-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    /* border: 1px solid red; */
}

.icons {
    cursor: pointer;
    margin-left: 20px;
    border: none;    
}

.edit-icon {
    color: green;
    
}

.trash-icon {
    color: red;
}

/* .blank {
    flex: 1;
} */

/* smooth scrolling to top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: rgb(23, 107, 233);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

#myBtn:hover {
background-color: rgb(2, 71, 173);
}

html {
    scroll-behavior: smooth;
}


/* to change background of task cards for mouse hover */
.list-group-item:hover {
    box-shadow: 0 20px 40px 0px rgba(0, 0, 0, 0.26);
    background-color:whitesmoke;
}

/* for collapsible section */
.rotate {
    transition: .7s transform ease-in-out;
}

.rotate.down {
    transform: rotate(-180deg);
    transition: .7s transform ease-in-out;
}

/* to validate: error / success */
.form-field.error input, .form-field.error textarea, .form-field.error select {
    border-color: red;
}

.form-field.success input, .form-field.success textarea, .form-field.success select {
    border-color: green;
}

.form-field small {
    color: red;
}

/* used to strike off text in JS when it is marked as done */
.stroked {
    text-decoration: line-through;
}

/* empty state message */
.empty-state {
    padding: 10px;
    display: none;
}

.tasksList:empty {
    display: none;
}

.tasksList:empty + .empty-state {
    display: grid;
}

