.header{

    background-color: rgb(120, 161, 238);
    text-align: center;
    width: 100%

    }

  
  
.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
}
<<<<<<< HEAD
=======

.header{

    background-color: rgb(120, 161, 238);
    text-align: center;
    width: 100%

    }

  
  
.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
}

.round-button {
    border-radius: 50%;
    width: 50px;
}


.widget-heading {
    font-weight: bold;
}
>>>>>>> jw2
